@import "tailwindcss";

:root {
  --background: #013539;
  --foreground: #ededed;
  --primary: #A3E96A;
  --paper: #F1F7F3;
  --info: #54DEE4;
  --warning: #F5C23A;
  --error: #FF3B30;
  --success: #55BD70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-paper: var(--paper);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-success: var(--success);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
